<!-- // Step 3:use the router outlet in app.component.html to display the component -->



<div class="container mt-3">
  <div class="d-flex justify-content-end">
    <nav class="navbar-nav navbar-light">
      <div class="container-fluid">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <a style="padding:10px" class="nav-link btn btn-success me-3" routerLink="home">Home</a>  
          <!-- [routerLink]="'home'" -->
          </li>
          <li class="nav-item">
            <a style="padding:10px" class="nav-link btn btn-primary me-3" routerLink="aboutus">aboutus</a>
          </li>
          <li class="nav-item">
            <a style="padding:10px" class="nav-link btn btn-danger me-3" routerLink="Coustmars">Coustmars</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>




<router-outlet></router-outlet>




























